/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Palette
 * tan: #DDCBA6
 * dark: #57504D
 * light: #E9E4D0
 * grey: #B3B4AA
 * brown: #835132
*/

body {
  font-family: 'Open Sans', serif;
}

blockquote {
	font-size:125%;
	font-style:italic;
	font-family:Palatino;
	z-index:5;
	line-height:25px;
}
blockquote:before {
	content:"\201C";
	font-size:70px;
	font-family:sans-serif;
	font-weight:bold;
	color: gray;
	z-index:1;
}

/* Dark */
nav a {
  background-color: #57504D;
}
header h2 .quote {
  color: #57504D;
}

/* Grey */
.main aside,
.footer-container {
  background-color: #B3B4AA;
}

/* Tan */
.header-container {
  background-color: #DDCBA6;
}

/* Border colors */
.header-container {
  border-bottom-color: #57504D;
}
.main aside,
.footer-container {
  border-top-color: #57504D;
}

header .quote {
  float: right;
  line-height: 2;
}
footer .telephone:last-child {
  float: right;
}
.header-container {
  border-bottom-width: 10px;
  color: #000;
}
.quote {
  font-family: 'Lobster', cursive;
  font-style: italic;
}
.quote:before {
  content: '"';
  content: '\201c';
}
.quote:after {
  content: '\201d';
}
.ellipsis:after {
  content: '...';
}
.trademarked:after {
  content: "\2122";
}
.registered:after {
  content: "\00ae";
}
a.root {
  text-decoration: none;
  color: #000;
}
.home h4 {
  font-size: 26px;
}
.home .mission h3 {
  margin-bottom: 0;
}
.home .mission .quote {
  margin-top: 0;
}
.home .contact .telephone {
  display: inline-block;
}
.main .products {
  width: auto;
}
.callout {
  font-weight: bold;
  text-decoration: none;
}
.services h2,
.services h3 {
  margin-bottom: 5px;
}
.services ul {
  margin-top: 0;
}
.services li {
  font-size: 22px;
}
.services li .callout {
  color: red;
}
.services + aside .telephone {
  color: blue;
}
.services + aside ul {
  list-style-type: none;
  padding: 0;
}
.services + aside ul li a{
  text-decoration: none;
}
.services + aside p {
  font-size: 18px;
}
.services + aside .source {
  float: right;
  margin-top: 0;
}
.products .brand {
  clear: both;
}
.products .doors .door {
  float: left;
  list-style: none;
  width: 23%;
  padding: 0 1% 2%;
}
.products .doors .door:nth-child(5) {
  clear: both;
}
.products .doors .door h4 {
  margin: 2% 0 0;
}
.products .doors .door img {
  height: 57%;
  width: 57%;
}
.products .doors .door a {
  color: inherit;
  text-decoration: none;
}
.products .doors .door .desc {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
}
.contact h2 {
  margin-bottom: 2%;
}
.contact h3 {
  margin-bottom: 0;
}
.contact [itemprop="telephone"],
.contact [itemprop="email"] {
  display: block;
  text-decoration: none;
  font-weight: bold;
}
.contact [itemprop="address"] [itemprop="streetAddress"] {
  display: block;
}
.contact + aside form label {
  display: inline-block;
  padding: 1% 0;
  width: 25%;
}
.contact + aside form label:after {
  content: ":";
}
.contact + aside form inpuy {
  width: 67%;
}
.contact + aside form textarea {
  display: block;
  width: 100%;
  height: 175px;
}
.contact + aside form input[type="submit"] {
  float: right;
  margin-top: 4%;
}
.contact + aside form input:invalid {
  border-color:hsl(0, 50%, 50%);
  background:hsl(0, 50%, 90%);
}
.main-container {
  height: 100%;
}
.footer-container {
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  /*height: 66px;*/
  height:100%;
  min-height:250px;
}
.slider {
  background-color: #fff;
  box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
              0 3px 1px hsla(0,0%,100%,.75),
              0 -1px 1px 2px hsla(0,0%,0%,.1);
  height: 240px;
  padding: .5em;
  position: relative;
  width: 550px;
}
.slider li {
  box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
  list-style: none;
  position: absolute;
}
.slider input {
  display: none;
}
.slider label {
  background-color: #111;
  background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
  border: .2em solid transparent;
  bottom: .5em;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: .5em;
  left: 15.75em;
  opacity: 0;
  position: absolute;
  transition: .25s;
  width: .5em;
  visibility: hidden;
  z-index: 10;
}
.slider label:after {
  border-radius: 100%;
  bottom: -.2em;
  box-shadow: inset 0 0 0 .2em #111,
              inset 0 2px 2px #000,
              0 1px 1px hsla(0,0%,100%,.25);
  content: '';
  left: -.2em;
  position: absolute;
  right: -.2em;
  top: -.2em;
}
.slider:hover label {
  opacity: 1;
  visibility: visible;
}
.slider input:checked + label {
  background-color: #fff;
}
.slider:hover li:nth-child(1) label {
  left: 13.5em;
}
.slider:hover li:nth-child(2) label {
  left: 15em;
}
.slider:hover li:nth-child(3) label {
  left: 16.5em;
}
.slider:hover li:nth-child(4) label {
  left: 18em;
}
.slider img {
  height: 15em;
  opacity: 0;
  transition: 1.5s;
  width: 550px;
  vertical-align: top;
  visibility: hidden;
}
.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.promo img{
	margin:1%;
}
#promocontact {
	width:100%;
	margin:1% auto 2%;
}
#promocontact aside {
	background:none;
	padding:0;
	margin-bottom:2%;
	border:0;
	width:inherit;
}
#promocontact .contactheader {
	background:#516893; 
	color:white; 
	padding:25px 10px; 
	width:100%; 
	height:100px; 
	font-size:125%; 
	font-weight:bold;
	text-align:center;
}
.column {
	float:left;
	width:23%;
	margin-right:1%;
	padding-left:10px;
}
.column2 {
	float:left;
	width:46%;
	margin-right:1%;
	padding-left:10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {

  nav {
    clear: both;
  }
    .column, .column2 {
	float:none;
	padding-left:10px;
	margin-right:none;
	min-width:320px;
	width:100%;
}
.promo img {
	min-width:100%;
	max-width:320px;
}

}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 20%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
	.promo img
	{
		min-width:100%;
		max-width:480px;
	}
	
	.column {
	float:left;
	padding-left:10px;
	min-width:220px;
	margin-right:1%;
	}
	.column2 {float:left; padding-left:10px; min-width:480px;}


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
	
	.promo img {
		margin:1.5%;
		min-width: 100%;
		max-width: 768px;
	}
	.column, .column2 {
	float:left;
	padding-left:10px;
	margin-right:1%;
	}
		.column {width:23%;}
		.column {width:46%;}

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
	
	.promo id {
		min-width:100%;
		width:100%;
	}
	.column , .column2 {
	float:left;
	padding-left:10px;
	}
		.colulmn {width:
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Overrides */
nav {
  float: none;
}

nav a {
  padding: 1px 1%;
}
